* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Georgia', sans-serif;                                             
}

.header {
  background-color: #333;
  color: #aaa;
  display: flex;
  justify-content: space-between;
  padding: 20px calc((100% - 960px) / 2);
  align-items: center;
}

.nav__heading {
  font-size: 28px;
}

#menu {
  display: flex;
}
.menu-item {
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px 18px;
  font-weight: 300;
  background-color: #232323;
}
.menu-item:hover {
  cursor: pointer;
  opacity: 0.5;
  color:orange;
}
#container {
  padding: 20px calc((100% - 960px) / 2);
}
.slide-img {
  width: 960px;
  height: 360px;
  background-color: #333;
  transition: 0.5s;
  color:white;
  text-align: center;
  line-height:360px;
}

.content-first {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.content-item {
  color:#777;
  width: 30%;
}
.content-img {
  width: 290px;
  height: 180px;
  background-color: #fff;
  border: 1px solid #bbb;
}
.content-img-a {
  width: 270px;
  height: 160px;
  background-color: #333;
  margin: 10px;
  transition: 0.3s;
}
.content-img-a:hover {
  cursor: pointer;
  width: 100%;
  height: 180px;
  transform: translateY(-10px) translateX(-10px);
}
.content-img-a::before {
  content: "290 x 180px";
  height: 180px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__heading {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 0;
  font-weight: 600;
}
.content__description {
  font-size: 13px;
  line-height: 1.8;
  padding-bottom: 10px;
}
.content__btn {
  margin: 15px;
  float: right;
  background-color: transparent;
  color: orange;
  border: none;
  outline: none;
  font-size: 13px;
}
.content__btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.content-second {
  padding: 30px calc((100% - 960px) / 2);
  display: flex;
  justify-content: space-between;
}
.content-second__left {
  width: 50%;
  color:#777;
}
.content-second__heading {
  font-style: italic;
  font-size: 28px;
  padding-bottom: 15px;
  font-weight: 700;
}
.content-second__paragraph {
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.content-second__img {
  width: 450px;
  height: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.content-second__img-a {
  width: 430px;
  height: 230px;
  background-color: #333;
  margin: 10px;
  transition: 0.5s;
}
.content-second__img-a:hover {
  width: 100%;
  height: 250px;
  transform: translateY(-10px) translateX(-10px);
}
.content-second__img-a::before {
  content: "450 x 250px";
  height: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.orange {
  color: orange;
}

.footer__main {
  padding: 30px calc((100% - 960px) / 2);
  background-color: #333;
  display: flex;
  justify-content: space-between;
}
.footer__lists {
  width: 23%;
}
.footer__list-heading {
  font-style: italic;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer__list-content {
  color: orange;
  font-size: 13px;
  border-bottom: 1px solid #999;
  padding: 6px 0;
}

.footer2 {
  background-color: #232323;
  padding:30px calc((100% - 960px) / 2);
  color: #666;
}
