* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.slide-show {
  width: 60%;
  position: relative;
}
.next {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 50%;
  right: 0;
  background-color: rgba(140, 131, 136, 0.4);
  padding: 10px;
}
.previous {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 50%;
  background-color: rgba(140, 131, 136, 0.4);
  padding: 10px;
}
.next:hover,
.previous:hover {
  cursor: pointer;
}
.slide-img {
  height: 86vh;
  width: 100%;
}
.list-img {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.img-item {
  width: calc(90% / 9);
}
.img-item:hover {
  cursor: pointer;
}
.active {
  border: 2px solid rgb(18, 222, 18);
}
